<div class="gossip-container">
    <img src="assets/dauby-and-lenge.jpg">
    <div class="gossip-texts">
        <div class="left">
            <img [src]="routeData.secondaryThemeIcon">
            <span>chat 1</span>
        </div>
        <div class="right">
            <span>chat 2</span>
            <img [src]="routeData.themeIcon">
        </div>
        <div class="left">
            <img [src]="routeData.secondaryThemeIcon">
            <span>chat 3</span>
        </div>
    </div>
</div>
